.App {
  text-align: center;
}
body{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(36,9,121,1) 35%, rgba(0,212,255,1) 100%);
  font-family: "Times New Roman", Times, serif;
  color: white
}


.App-header {
  /* background-color: #222; */
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 50px;
  width: 160px;


}